.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid var(--color-3);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem;
  background: #eee;
  transition: all 0.2s;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--color-1);
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: tomato;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
