.inputResposta {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.textarea {
  background-color: var(--color-3);
  border: none;
  padding: 0.5rem;
  resize: none;
  outline: none;
  width: 100%;
}
